<% if params[:tag] %>
  <%= icon('pricetag-multiple') %> <span class='alert round label'><strong><%= params[:tag] %></strong></span> <small>( <%= @posts.size %> )</small>
<% end %>
<% unless @category_name.blank? %>
<div class='category'>
  <strong>Category:</strong>
  <%= @category_name %>
</div>
<% end %>
<div id='posts'>
  <% if @posts.size > 0 %>
    <%= render @posts %>
  <% else %>
    <h3 id='no_posts'>아직 작성된 글이 없습니다.</h3>
  <% end %>
</div>