<div class='post'>
  <div class='category'>
    <strong>Category:</strong>
    <%= @post.category %>
  </div>
  <div class='title'>
    <H3><%= @post.title %></H3>
  </div>
  <div class='author'>
    created by <%= @post.user.email %>, <%= time_ago_in_words(@post.created_at) %> ago
  </div>
  <div class='content'>
    <%= simple_format @post.content %>
  </div>
  <div class='published'>
    <strong>Published:</strong>
    <%= published_icon @post.published %>
  </div>
</div>
<hr>

<%= link_to 'Edit', edit_post_path(@post), class: 'button small radius' %>
<%= link_to 'Back', posts_path, class: 'button small radius' %>