<div class='post'>
  <div class='title'>
    <H3><%= @post.title %></H3>
  </div>
  <div class='author'>
    created by <%= @post.user.email %>, <%= time_ago_in_words(@post.created_at) %> ago
  </div>
  <div class='content'>
    <%= simple_format @post.content %>
  </div>
  <div class='category'>
     <%= icon('folder') + ' ' + @post.category.name %>
  </div>
  <div class='tags'>
     <%= icon_tags(@post.tag_list) %>
  </div>
  <% if user_signed_in? && current_user.can_update?(@post) %>
    <div class='published'>
      <%= published_icon @post.published %>
    </div>
  <% end %>
</div>
<hr>

<div style='text-align:right;'>
  <%= link_to 'Edit', edit_post_path(@post), class: 'button tiny radius' %>
  <%= link_to 'Back', posts_path, class: 'button tiny radius' %>
</div>

<%= render partial: 'comments/comments', locals: { post: @post } %>