<h2>Listing categories</h2>

<table style='width:100%;'>
  <thead>
    <tr>
      <th style='width:40%;'>Name</th>
      <th>User</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.user.email %></td>
        <td>
          <%= link_to icon('eye'), category %>
          <%= link_to icon('pencil'), edit_category_path(category) %>
          <%= link_to icon('trash'), category, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category', new_category_path, class: 'button small radius' %>