<!-- Section for General layouts -->
<% @recent_posts = Post.recent %>
<% @tags = Post.tag_counts_on(:tags) if @tags.blank? %>

<%= content_for :general do %>
  <div class='row'>
    <div class='large-9 medium-9 columns'>
      <div class='row'>
        <div class='medium-12 columns'>
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= yield %>
        </div>
      </div>
    </div>
    <div class='medium-3 columns' style="margin-top: 1em">
      <div class='row'>
        <div class='medium-12 columns'>
          <!-- 내가 작성한 글목록 -->
          <% if user_signed_in? %>
            <p><%= link_to "My Posts <small>( #{Post.myposts(current_user).size} )</small>".html_safe, list_my_posts_path %></p>
          <% end %>
          <p>Recent Posts :</p>
          <ul>
            <% @recent_posts.each do | post | %>
              <li><%= link_to truncate(post.title, length: 16), post_path(post) %></li>
            <% end %>
          </ul>
          <p>Category : <small><%= link_to "Admin", categories_path if user_signed_in? && current_user.has_role?(:admin) %></small></p>
          <ul>
            <li>
              <%= link_to 'Uncategoried', posts_path(category_id: 0) %>
              <small><%= Post.uncategorized_posts.size %></small>
            </li>
          <% Category.all.each do | category | %>
            <li>
              <%= link_to category.name, category_posts_path(category) %>
              <small><%= category.posts.published_posts.size %></small>
            </li>
          <% end %>
          </ul>
          <p>Tag Cloud :</p>
          <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, posts_path(tag: tag.name), :class => css_class %>
          <% end %>
          <hr>
          <center>
            <% if user_signed_in? %>
              <%= link_to 'New Post', new_post_path, class: 'button small radius' %>
            <% else %>
              <%= link_to 'Sign in', new_user_session_path, class: 'button small radius' %>
            <% end %>
          </center>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render template: 'layouts/application' %>